<h2>Lembrete: O evento {{eventTitle}} começa amanhã!</h2>
<p>Olá, {{name}}!</p>
<p>Este é um lembrete amigável de que o evento <strong>{{eventTitle}}</strong> começará amanhã ({{date}}).</p>
<p>Confirme os detalhes do local, programação e horários na página oficial do evento clicando no botão abaixo:</p>

<div style="text-align: center;">
  <a href="{{appUrl}}/e/{{eventSlug}}" class="btn">Página do Evento</a>
</div>

<p>Não se esqueça de levar seu código de ingresso para o credenciamento!</p>
